{% use "form_div_layout.html.twig" %}

{%- block form_widget_simple -%}
    {% if icon %}
        <div class="iconWidget {{ icon }}Widget">
            {{ icon | nyrodev_icon | raw }}
    {% endif %}
    {{ parent() }}
    {% if icon %}
        </div>
    {% endif %}
{%- endblock form_widget_simple -%}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- elseif label is not same as(false) -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {% if icon %}
            {{ icon | nyrodev_icon | raw }}
            <span>
        {% endif %}
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
        {% if icon %}
            </span>
        {% endif %}
    </button>
{%- endblock button_widget -%}

{%- block button_row -%}
    <div class="form_button">
        <span class="formRequiredFields">
            {{ 'nyrodev.required'|trans }}
        </span>
        
        {% if cancelUrl -%}
            <a href="{{ cancelUrl }}" class="button {{ cancelClass }}">
                {% if cancelIcon %}
                    {{ cancelIcon | nyrodev_icon | raw }}
                {% endif %}
                <span>{{ cancelText|trans }}</span>
            </a>
        {% endif %}

        {% if buttonHtml -%}
            {{ buttonHtml|raw }}
        {% endif %}

        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{%- block collection_widget -%}
    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {% if allow_add is defined and allow_add %}
        {%- set attr = attr|merge({'data-allow-add': (allow_add is same as(true) ? 'admin.misc.collectionAdd'|trans : allow_add) }) -%}
    {% endif %}
    {% if allow_delete is defined and allow_delete %}
        {%- set attr = attr|merge({'data-allow-delete': (allow_delete is same as(true) ? 'admin.misc.collectionDelete'|trans : allow_delete) }) -%}
    {% endif %}
    {{- block('form_widget') -}}
{%- endblock collection_widget -%}

{%- block choice_widget -%}
    {% if icon %}
        <div class="iconWidget {{ icon }}Widget">
            {{ icon | nyrodev_icon | raw }}
    {% endif %}
    {% if wc_select %}
        {{- block('choice_widget_wc') -}}
    {% elseif expanded %}
        {{- block('choice_widget_expanded') -}}
    {% else %}
        <div class="selectCont">{{- block('choice_widget_collapsed') -}}</div>
    {% endif %}
    {% if icon %}
        </div>
    {% endif %}
{%- endblock choice_widget -%}

{%- block choice_widget_wc -%}
    <{{ wc_select }} {{ expanded ? 'multiple' : '' }} {{ block('widget_attributes') }}>
        {%- if placeholder is not none -%}
            <nyro-select-option value=""{% if placeholder_attr|default({}) %}{% with { attr: placeholder_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</nyro-select-option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {% set render_preferred_choices = true %}
            {{- block('choice_widget_wc_options') -}}
        {%- endif -%}
        {%- set options = choices -%}
        {%- set render_preferred_choices = false -%}
        {{- block('choice_widget_wc_options') -}}
    </{{ wc_select }}>
{%- endblock choice_widget_wc -%}

{%- block choice_widget_wc_options -%}
    {% for group_label, choice in options %}
        <nyro-select-option value="{{ choice.value }}"{% if choice.attr %}{% with { attr: choice.attr } %}{{ block('attributes') }}{% endwith %}{% endif %}{% if not render_preferred_choices|default(false) and choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label|raw : choice.label|trans(choice.labelTranslationParameters, choice_translation_domain) }}</nyro-select-option>
    {% endfor %}
{%- endblock choice_widget_wc_options -%}

{%- block choice_widget_expanded -%}
    <ul {{ block('widget_container_attributes') }}>
        {%- set options = choices -%}
        {{- block('choice_widget_expanded_options') -}}
    </ul>
{%- endblock choice_widget_expanded -%}

{%- block choice_widget_expanded_options -%}
    {#- See https://github.com/symfony/symfony/issues/19514#issuecomment-2038417922 -#}

    {%- if form.children.placeholder is defined -%}
        {%- with {child: form.children.placeholder} -%}
            {{- block('choice_widget_expanded_option') -}}
        {%- endwith -%}
    {%- endif -%}

    {%- for group_label, option in options -%}
        {%- if option is iterable -%}
            <li class="form_expanded_group">
                <label>{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}</label>
                {%- set options = option -%}
                <ul>
                    {{- block('choice_widget_expanded_options') -}}
                </ul>
            </li>
        {%- else -%}
            {%- with {child: form.children|filter(child => child.vars.value == option.value)|first} -%}
                {{- block('choice_widget_expanded_option') -}}
            {%- endwith -%}
        {%- endif -%}
    {%- endfor -%}
{%- endblock -%}

{%- block choice_widget_expanded_option -%}
    <li>
        {{- form_widget(child) -}}
        {{- form_label(child, null, {
            translation_domain: choice_translation_domain,
            label_attr: child.vars.label_attr,
        }) -}}
    </li>
{%- endblock -%}

{%- block text_widget -%}
    {% if wc_text %}
        {% if icon %}
            <div class="iconWidget {{ icon }}Widget">
                {{ icon | nyrodev_icon | raw }}
        {% endif %}
        <{{ wc_text }} {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
            {{ wc_html | raw }}
        </{{ wc_text }}>
        {% if icon %}
            </div>
        {% endif %}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{%- endblock text_widget -%}

{%- block password_widget -%}
    {% if wc_text %}
        {{ block('text_widget') }}
    {% else %}
        {{ parent() }}
    {% endif %}
{%- endblock password_widget -%}

{%- block file_widget -%}
    {% if wc_file %}
        {{- block('file_widget_wc') -}}
    {% else %}
        {{- form_widget(form) -}}

        {% if currentFile %}
            <a href="{{ asset(currentFileUrl) }}" target="_blank" class="currentFile">
                {{ 'admin.misc.currentFile'|trans({'%currentFile%': currentFileName}) }}
            </a>
            {% if showDelete %}
                <a href="#" class="currentFileDelete" data-name="{{ showDelete }}" data-confirm="{{ 'admin.misc.currentFileDeleteConfirm'|trans }}">
                    {{ 'admin.misc.currentFileDelete'|trans }}
                </a>
            {% endif %}
        {% endif %}
    {% endif %}
{%- endblock file_widget -%}

{%- block file_widget_wc -%}
    <{{ wc_file }} {{ block('widget_attributes') }}>
        <button slot="choose" type="button">
        {% if wc_choose %}
            {{ wc_choose }}
        {% elseif wc_choose_icon %}
            {{ wc_choose_icon | nyrodev_icon | raw }}
        {% else %}
            {{ 'nyrodev.chooseFile'|trans }}
        {% endif %}
        </button>
        {% if currentFile %}
            <a href="{{ asset(currentFileUrl) }}" slot="current"><span>{{ currentFileName }}</span></a>
        {% endif %}
        {% if wc_delete %}
            <a href="#" slot="delete">{{ wc_delete }}</a>
        {% elseif wc_delete_icon %}
            <a href="#" slot="delete">{{ wc_delete_icon | nyrodev_icon | raw }}</a>
        {% endif %}
    </{{ wc_file }}>
{%- endblock file_widget_wc -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
    <ul class="form_errors">
        {%- for error in errors -%}
            <li>{{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_rows -%}
    {% if form is rootform and formTabs %}
        <nyro-tabs selector="fieldset" title-selector="legend"
            {% if formTabsHtmlNav %}html-nav{% endif %}
            {% if formTabsAttrs %}{% with { attr: formTabsAttrs } %}{{ block('attributes') }}{% endwith %}{% endif %}
        >
        {% if formTabsHtmlNav %}
            {{ formTabsHtmlNav|raw }}
        {% endif %}
    {% endif %}
    {%- set cur_fieldset = false -%}
    {% for child in form|filter(child => not child.rendered) %}
        {% if form is rootform and child.vars.fieldset and child.vars.fieldset.name != cur_fieldset %}
            {% if cur_fieldset %}
                </fieldset>
            {% endif %}
            <fieldset name="{{ child.vars.fieldset.name }}"{% with { attr: child.vars.fieldset.attr } %}{{ block('attributes') }}{% endwith %}>
                {% if child.vars.fieldset.label is not empty %}
                    <legend>{{ child.vars.fieldset.label|trans|raw }}</legend>
                {% endif %}
            {%- set cur_fieldset = child.vars.fieldset.name -%}
        {% endif %}
        {{- form_row(child) -}}
    {% endfor %}
    {% if cur_fieldset %}
        </fieldset>
    {% endif %}
    {% if form is rootform and formTabs %}
        </nyro-tabs>
    {% endif %}
{%- endblock form_rows -%}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {%- set isCheckbox = false -%}
    {%- set classes = ['form_row'] -%}
    {% for prefix in block_prefixes %}
        {% set classes = classes|merge(['form_row_' ~ prefix]) %}
        {% if prefix == 'checkbox' %}
            {%- set isCheckbox = true -%}
        {% endif %}
    {% endfor %}
    {% if required -%}
        {% set classes = classes|merge(['form_required']) %}
    {%- endif -%}
    {%- if errors|length > 0 -%}
        {% set classes = classes|merge(['form_error']) %}
    {%- endif -%}

    {%- if row_attr.class -%}
        {% set classes = classes|merge([row_attr.class]) %}
    {%- endif -%}
    
    {% set row_attr = row_attr|merge({'class': classes|join(' ')|trim}) %}

    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
    
        {%- if isCheckbox -%}
            {{- form_widget(form, widget_attr) -}}
        {%- endif -%}

        {{- form_label(form) -}}

        {%- if not isCheckbox -%}
            {{- form_widget(form, widget_attr) -}}
        {%- endif -%}
        
         <span class="formIndicator"> *</span>
        {{- form_help(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{%- block filter_widget -%}
    {{ form_errors(form) }}

    {% if form.transformer %}
        <span class="row_form_transformer">
            {{ form_errors(form.transformer) }}
            {{- form_widget(form.transformer) -}}
        </span>
    {% endif %}

    {{ form_errors(form.value) }}
    {{- form_widget(form.value) -}}

    {{- form_rest(form) -}}
{%- endblock filter_widget -%}

{%- block rawhtml_widget -%}
    <div {{ block('widget_attributes') }} class="form_rawhtml">{{ value|raw }} </div>
{%- endblock rawhtml_widget -%}